{% extends 'base.html.twig' %}

{% block title %} Add new address {% endblock %}

{% block body %}
    <div style="padding-bottom: 10px">
        <a href="{{ path('show.address') }}"> Back to Home </a>
    </div>

    {% include('./address_book/form.html.twig') %}

    {{ form_end(form) }}
{% endblock %}
